{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block pageName %}  Sign in  {% endblock %}


{% block contentHeader %}
  <h1>Sign In</h1>
{% endblock%}

{% block page_content %}
<div class="container">
  <div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <p>
      <br/>
      <br/>
      New User?
      <a href="{{ url_for('auth.register') }}">Here to register</a>
      <br/>
      <br/>
      Forget Password? <a href="{{ url_for('auth.request_reset_password') }}">Reset Password</a>
    </p>
  </div>
</div>
{% endblock %}
