{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block pageName %}  Reset Password  {% endblock %}

{% block contentHeader %}
  <h1>Reset Password</h1>
{% endblock%}

{% block page_content %}

<div class="container">
  <div class="col-md-8">
    <p>
      Please fill registered email and new password, PythonWeb team will send you a email that contains a link to active new password.
    </p>
  </div>
</div>
<div class="container">
  <div class="col-md-4">
    <hr />
    {{ wtf.quick_form(form) }}
  </div>
</div>
{% endblock %}
