
{% extends "base.html" %}

{% block scripts %}
{{ super() }}
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="/static/angular/app.js"></script>
{% endblock %}

{% block pageName %}  Angular 1.X  {% endblock %}

{% block contentHeader %}
  <h1>Angular 1.5 </h1>
{% endblock%}

{% block page_content %}
<div class="container" ng-app="phonecatApp">
    <div class="col-md-8" ng-controller="PhoneListController">
        <ul>
            <li ng-repeat="phone in phones">
                <span>{{ phone.name|angular }}</span>
            <p>{{ phone.snippet|angular }}</p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
