
{% extends "base.html" %}

{% block scripts %}
{{ super() }}
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="/static/angular/app.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='angular/angular.css') }}">
{% endblock %}

{% block pageName %}  Angular 1.5  {% endblock %}

{% block contentHeader %}
  <h3>This page conbines Jinja 2 and Angular 1.5 template engines. </h3>
{% endblock%}

{% block page_content %}
<div class="container">
    <div class="col-md-8" 
        ng-app = "mainApp" 
        ng-controller = 'postController'
        ng-init= "backendData.postings = [
                         {% for post in posts %}
                            {{ ('{body: \'' + post.body + '\',') | safe }} {{ ('timestamp:' + post.timestamp + '}') | safe}} {% if not loop.last %} , {% endif %}
                         {% endfor %}
                         ]">
        <h4>Example</h4>
        <p>What did Main_Tester post? </p>
        <br/>
        <p>Enter key word: <input type = "text" ng-model = "keyword"></p>
        <br/>
        <table>
            <tr>
               <td>He said:</td>

               <td>
                  <ul>
                     <li ng-repeat = "posting in backendData.postings | filter: keyword" ng-if="keyword">
                        {{ posting.body | angular }} 
                     </li>
                  </ul>
               </td>
            </tr>
         </table>

      </div>
    </div>
</div>
{% endblock %}