
{% extends "base.html" %}

{% block scripts %}
{{ super() }}
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="/static/angular/app.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='angular/angular.css') }}">
{% endblock %}

{% block pageName %}  Angular 1.5  {% endblock %}

{% block contentHeader %}
  <h1>Angular 1.5 </h1>
{% endblock%}

{% block page_content %}
<div class="container">
    <div class="col-md-8" ng-app = "mainApp" ng-controller = "studentController">
        <h4>Example</h4>
         <table border = "0">
            <tr>
               <td>Enter first name:</td>
               <td><input type = "text" ng-model = "student.firstName"></td>
            </tr>

            <tr>
               <td>Enter last name: </td>
               <td>
                  <input type = "text" ng-model = "student.lastName">
               </td>
            </tr>

            <tr>
               <td>Name: </td>
               <td>{{ 'student.fullName()'|angular }}</td>
            </tr>

            <tr>
               <td>Subject:</td>

               <td>
                  <table>
                     <tr>
                        <th>Name</th>.
                        <th>Marks</th>
                     </tr>

                     <tr ng-repeat = "subject in student.subjects">
                        <td>{{ subject.name|angular }}</td>
                        <td>{{ subject.marks|angular }}</td>
                     </tr>

                  </table>
               </td>

            </tr>
         </table>

      </div>
    </div>
</div>
{% endblock %}
