{% extends "bootstrap/base.html" %}

{% block scripts %}
{{ super() }}
    <script>document.getElementById('footerTime').innerHTML=new Date();</script>
{% endblock scripts %}

{% block title %}
    {% block pageName %}  {% endblock %} - PyWeb
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"> PyWeb </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/"> Home </a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
    <div class="page-header">
        {% block contentHeader %}  {% endblock %}
    </div>
</div>

    {% block footer %}
    <footer class="footer">
        <div class="container">
            {% block footerContent %}
            <p class="text-muted">Developed by Eric Zhang</p>
            <p class="text-muted" id="footerTime"></p>
            {% endblock footerContent %}
        </div>
    </footer>
    {% endblock footer %}

{% endblock content %}


