{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block pageName %}  Home  {% endblock %}


{% block contentHeader %}
    {% if name %}
        <h1>Hello, {{ name }}!</h1>
    {% else %}
        <h1>Hello, Stranger!</h1>
    {% endif %}
    
    {% if not know %}
        <p>Pleased to meet you!</p>
    {% else %}
        <p>Happy to meet you again!</p>
    {% endif %}
{% endblock %}

{% block page_content %}
    
<div class="container">
    {{ wtf.quick_form(form) }}
</div>

{% endblock %}

