{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block pageName %}  {{title}} {{user.username}}  {% endblock %}

{% block contentHeader %}
<h1> {{title }} {{user.username}} </h1>
{% endblock %}

{% block page_content %}

<div class="container">
    <div class="col-md-4">
        <div class="profile-header-avatar">
            <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=180) }}">
        </div>
    </div>
    <div class="profile-content">
        <table class = "table table-striped">
            <tbody style="font-size: 20px">
                {% for follow in follows %}
                <tr>
                    <td>
                        <img class="img-rounded" src="{{ follow.user.gravatar(size=32) }}">
                        <a href="{{ url_for('.profile', username = follow.user.username) }}">
                            {{ follow.user.username }}
                        </a>
                    </td>
                    <td>
                        {{ moment(follow.timestamp).format('L') }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    {% if pagination.pages > 1 %}
        {% import "_macros.html" as macros %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.profile', username=user.username) }}
        </div>
    {% endif %}
</div>
{% endblock %}