{% extends "base.html" %}

{% block pageName %}  Profile  {% endblock %}

{% block contentHeader %}
  <h1>Profile </h1>
  {% if user == current_user %}
    <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">
     Edit Profile
    </a>
  {% endif %}
  {% if current_user.is_administrator() %}
    <br/><br/>
    <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">
      Edit Profile [Admin]
    </a>
  {% endif %}

{% endblock%}



{% block page_content %}


<div class="container">
    <div class="col-md-2">
        <div class="profile-header-avatar">
            <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=180) }}">
        </div>
        <div class="profile-header-follow">
            {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) and current_user.is_following(user)%}
            &nbsp;| <span class="label label-default">Friend</span>
            <br/><br/>
            {% endif %}

            <a href="{{ url_for('.followers', username=user.username) }}">
                &nbsp;Followers: <span class="badge">{{ user.followers.count() }}</span>
            </a>
            <br/> <br/>

            <a href="#">
                &nbsp;Following: <span class="badge">{{ user.followed.count() }}</span>
            </a>
            <br/> <br/>

            {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                {% if not current_user.is_following(user) %}
                <a href="{{ url_for('.follow', username=user.username) }}"class="btn btn-primary">Follow</a>
                {% else %}
                <a href="{{ url_for('.unfollow', username=user.username) }}"class="btn btn-default">Unfollow</a>
                {% endif %}
            {% endif %}
        </div>
    </div>


    <div class="profile-content">
        <table class = "table table-striped">
            <tbody style="font-size: 20px">
                <tr>
                    <td><span class = "label label-info">Username</span></td>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <td><span class = "label label-info">Role</span></td>
                    <td> {{ user.role | title }}</td>
                </tr>
                {% if current_user.is_administrator() %}
                <tr>
                    <td><span class = "label label-info">Email</span></td>
                    <td><a href="mailto:{{ user.email }}"> {{ user.email | title }}</a></td>
                </tr>
                {% endif %}
                <tr>
                    <td><span class = "label label-info">Last Login Date</span></td>
                    <td> {{ moment(user.last_login_date).fromNow() }} </td>
                </tr>
                <tr><td></td></tr>
                <tr>
                    <td><span class = "label label-info">Name</span></td>
                    <td>
                        {% if user.name %}
                        {{ user.name | title }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><span class = "label label-info">Location</span></td>
                    <td>
                        {% if user.location %}
                        <a href="http://maps.google.ca/?q={{ user.location }}">{{ user.location | title }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><span class = "label label-info">Registered in</span></td>
                    <td>
                        {{ moment(user.registered_date).format('LL') }}
                    </td>
                </tr>
                <tr>
                    <td><span class = "label label-info">About Me</span></td>
                    <td>
                        {% if user.about_me %}
                        {{ user.about_me }}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div class="">
        <h3>Posts</h3>
        {% include '_posts.html'  %}

        {% if pagination.pages > 1 %}
        {% import "_macros.html" as macros %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.profile', username=user.username) }}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}